<html>
<head>
  <title>About Alpha Blog</title>
  <style>
    nav {
      padding: 20px;
      background-color: darkgray;
      float: left;
    }
    section {
      padding: 20px;
      background-color: lightgray;
      float: left;
    }
  </style>
  </head>
<body>
<header>
  <h1>Learn About Alpha Blog</h1>
  </header>
<nav>
  <%= link_to 'Home', root_path %><br />
  </nav>
<section>
  <p>This page describes what Alpha Blog is all about.</p>
  </section>
  </body>
  </html>

