<html>
<head>
  <title>Alpha Blog Home</title>
  <style>
    nav {
      padding: 20px;
      background-color: darkgray;
      float: left;
    }
    section {
      padding: 20px;
      background-color: lightgray;
      float: left;
    }
  </style>
  </head>
<body>
<header>
  <h1>Welcome to Alpha Blog</h1>
  </header>
<nav>
  <%= link_to 'Articles', articles_path %><br />
  <%= link_to 'About', about_path %><br />
</nav>
<section>
  <%= link_to image_tag('TheLionKing.png'), 'http://www.alpha-blog.com'%>
  <p>This is the homepage of Alpha Blog.</p>
  </section>
  </body>
  </html>
