$navbar-default-bg: lightblue;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  color: white;
  text-transform: uppercase;
}

#logo:hover {
  color: blue;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("TheLionKing.png");
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  font-weight: bold;
  color: lightblue;
  text-shadow:
    -1px -1px 0 blue,
    1px -1px 0 blue,
    -1px 1px 0 blue,
    1px 1px 0 blue;
  text-align: center;
  letter-spacing: -1px;
  margin-top: 200px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0px;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer small {
  float: left;
}

.footer nav ul {
  float: right;
  list-style: none;
}

.footer nav ul li {
  float: left;
  margin-left: 15px;
}

.footer nav ul li:hover {
  color: #222;
}

